*{
    margin: 0;
    padding: 0;
}

body{
    display: block;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 460;
    letter-spacing: -.022em;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
}

nav{
    
    display: flex;
    height: 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
background-color: black;

}
nav ul{
    display: flex;
    color: beige;

}
i:hover{
    background-color: lightgray;
}

nav ul{
    text-decoration: none;
    list-style: none;
}
nav ul li a{
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-family: inherit;
}
nav ul li a:hover{
    background-color: #2997ff;
    color:rgb(78, 73, 73)
    
}

i{
    color: white;
    padding: 16px;
}
.shooping{
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    background-color: black;
}
h2{
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
}
.link{
    text-align: center;
    padding: 20px;
    background-color: black;
}
.link span{
    padding: 15px;
}
.link a{
    color:#2997ff;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 21px;
    text-decoration: none;
}
.fc:hover{
    cursor: pointer;
    background-color: beige;
}
.fx:hover{
    cursor: pointer;
    background-color: beige;
}
.photo img{   
    width: 100%;
    height: 500px;
    position: absolute;
    padding-bottom: 50px;
    align-items: center;
}
.watch{
    padding-top: 510px;
}
.box1{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.box1 img{
    padding-top: 500px;
}
.img3{
    padding-right: 20px;
    padding-left: 50px;
    background-color: white;
}
.img4{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 20px;
    background-color: white;
}
.line{
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgb(224, 210, 210);
}

.foot-panel1{
    padding-top: 20px;
    color: black;
    background-color: lightgrey;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style-type: none;
}
ul a:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.line2{
    padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgb(224, 210, 210);
}
.foot-panel2{
    background-color: lightgrey;
    color: black;
    height: 80px;
    
}
.copy{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 5px;
}
.copy a:hover{
    background-color: aliceblue;
    cursor: pointer;
}